* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    font: optional;
    align-items: center;
    padding: 0 150px;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    gap: 13px;
}

.right-links {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}

.main-text {
    padding: 0 150px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    align-items: center;
    height: 450px;
    gap: 10px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    color: #e5e7eb;
}

.image-placeholder {
    flex: 1;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

.main-text button {
    padding: 5px 25px;
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    max-width: max-content;
    color: #e5e7eb;
    font-size: x-large;
}

.information {
    padding: 25px 150px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 25px 0;
}

.info {
    display: flex;
    padding: 10px 0;
    gap: 20px;
    padding: 20px 0;
}

.info-piece {
    display: flex;
    flex-direction: column;
}

.info-piece p {
    text-align: center;
    padding: 10px 0;
}

.testimonial {
    display: flex;
    background-color: #e5e7eb;
    height: 400px;
    align-items: center;
}

.testimonial-content {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
}

.source {
    text-align: right;
    font-weight: 800;
}

.action-container {
    height: 300px;
    padding: 0 150px;
}

.action-card {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-content {
    background-color: #3882f6;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 40px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.action-item button {
    border: 2px solid #F9FAF8;
    border-radius: 7px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: larger;
    padding: 5px 30px;
    font-weight: 700;
}

.action-title {
    font-weight: 700;
    font-size: x-large;
}

.action-subtext {
    font-weight: 100;
    color: #e5e7eb;
}